[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[user]
  name = imakewebthings
  email = caleb@imakewebthings.com

[credential]
  helper = osxkeychain

[core]
  excludesfile = ~/.gitignore_global
	precomposeunicode = true
